<div class="slider">

  <div class="slider__nav-bar" (mousemove)="handlerSliding($event)" (panmove)="handlerSliding($event)">

    <div class="slider__left-handle" [ngClass]="{'active':isHandlerActive&&currentHandlerIndex==0,'last-active':currentHandlerIndex==0}"
      [style.left.%]="handlerX[0]" (mousedown)="setHandlerActive($event,0)" (panstart)="setHandlerActive($event,0)">
      <div class="slider__handle-popover">
        <div class="slider__popover-data">{{currentValues[0].toFixed(1)}} %</div>
      </div>
    </div>

    <div class="filler">
      <div class="step-indicators">
        <span *ngFor="let stepPos of stepIndicatorPositions" [style.left.px]="stepPos"></span>
      </div>
      <div class="slider__handler-filler" [style.left.%]="handlerX[0]" [style.width.%]="handlerX[1] - handlerX[0]"></div>
    </div>

    <div class="slider__right-handle" [ngClass]="{'active':isHandlerActive&&currentHandlerIndex==1, 'last-active':currentHandlerIndex==1}"
      [style.left.%]="handlerX[1]" (mousedown)="setHandlerActive($event,1)" (panstart)="setHandlerActive($event,1)">
      <div class="slider__handle-popover">
        <div class="slider__popover-data">{{currentValues[1].toFixed(1)}} %</div>
      </div>
    </div>

  </div>

  <div class="slider__base-handlers">
    <div class="handle__first-base" [style.left.%]="baseHandlerX[0]">
    </div>
    <div class="handle__second-base" [style.left.%]="baseHandlerX[1]">
    </div>
    <div class="handle__base-popover">
      <div class="slider__base-title">BASE</div> {{baseValues[0].toFixed(1)}} %
    </div>
  </div>

</div>
